/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

body{
	margin: 40px 0px 0px 40px;
}

#container{
	height: 400px;
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
	position:relative;
=======
	
>>>>>>> External Changes
=======
	
>>>>>>> External Changes
=======
	
>>>>>>> External Changes
=======
	
>>>>>>> External Changes
=======
	
>>>>>>> External Changes
=======
	
>>>>>>> External Changes
=======
	
>>>>>>> External Changes
=======
	
>>>>>>> External Changes
=======
	
>>>>>>> External Changes
=======
	
>>>>>>> External Changes
=======
	
>>>>>>> External Changes
=======
	
>>>>>>> External Changes
=======
	
>>>>>>> External Changes
}

#footer{
	position: absolute;
}

h1 {
	font-size: 67pt;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

h2 {
	font-size: 24pt;
	color: #d34628;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
<<<<<<< Local Changes
	padding-bottom:30px;
=======
	padding-bottom:20px;
>>>>>>> External Changes
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
	font-size: 15pt
=======
	font-size: 15pt
	margin-bottom:20px
>>>>>>> External Changes
=======
	font-size: 18pt
	
>>>>>>> External Changes
=======
	font-size: 17pt
	
>>>>>>> External Changes
=======
	font-size: 16pt
	
>>>>>>> External Changes
=======
	font-size: 15pt
	
>>>>>>> External Changes
=======
	font-size: 15pt
	
>>>>>>> External Changes
=======
	font-size: 15pt
	
>>>>>>> External Changes
}

#portions{
	padding: 0px 0px 0px 150px;
	display: inline-block;
	width: 200px;
	 
}

#portions li{
	padding-left:25px; 
	text-indent:-25px; 
}

.amount{
	font-weight: bold;
	width: 15px;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
}

#instructions{
	padding-left: 100px;
	width: 250px;
	display: inline-block;
	position: absolute;
}

#moreInstructions{
	padding-left: 450px;
	width: 290px;
	display: inline-block;
	position: absolute;
}

.action{
	color:#d34628;
	font-weight: bold;
}

#footer a{
	text-decoration: none;
	color: #d34628;
}

#footer a:visited{
	text-decoration: none;
	color: #d34628;
}
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes
<<<<<<< Local Changes

h3 {
	-webkit-transform:rotate(90deg);
}
=======

h3 {
	-webkit-transform:rotate(90deg);
	background-color:red;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(90deg);
	background-color:red;
	width:200px;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:200px;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:200px;
	height:300px;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:200px;
	height:100px;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:200px;
	
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:100px;
	
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:100px;
	
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:100px;
	position:absolute;
	
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:100px;
	
	
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:100px;
	poistion:absolute;
	top:0px;
	right:200px;
	
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:100px;
	position:absolute;
	top:0px;
	right:200px;
	
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:100px;
	position:absolute;
	top:0px;
	right:200px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:100px;
	position:absolute;
	top:0px;
	left:200px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:100px;
	position:absolute;
	top:5px;
	left:300px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:100px;
	position:absolute;
	top:10px;
	left:400px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:100px;
	position:absolute;
	top:15px;
	left:450px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	background-color:red;
	width:100px;
	position:absolute;
	top:15px;
	left:450px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	width:100px;
	position:absolute;
	top:15px;
	left:450px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	width:100px;
	position:absolute;
	top:15px;
	left:450px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	width:100px;
	position:absolute;
	top:15px;
	left:450px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	width:100px;
	position:absolute;
	top:15px;
	left:450px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	width:100px;
	position:absolute;
	top:15px;
	left:450px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	width:100px;
	position:absolute;
	top:15px;
	left:450px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
=======

h3 {
	-webkit-transform:rotate(-90deg);
	width:100px;
	position:absolute;
	top:15px;
	left:450px;
	
}

header {
	position:relative;
}
>>>>>>> External Changes
	

